html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, 'IBM Plex Sans', 'Segoe UI', Roboto, "Helvetica Neue", sans-serif;
}

label {
	color: #fff;
	display: block;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

input, button, select, textarea {
	font-family: 'Roboto', sans-serif;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border-radius: 3px;
	outline: none;
}

input:disabled {
	color: rgb(82, 82, 82);
}

input[type="range"] {
	height: 0;
}

h1 {
	color: #ff264e;
	font-family: 'Lobster', cursive;
	font-size: 100px;
	text-align: right;
	padding-right: 20px;
}

h3 {
	font-size: 25px;
	color: #d3455f;
	font-family: 'IBM Plex Sans';
	font-weight: 500;
}

button {
	font-family: 'IBM Plex Sans', sans-seirf;
	color: #fff;
	background-color: transparent;
	border: 1.5px solid #fff;
	border-radius: 10px;
	font-size: 25px;
	outline: none;
	font-weight: 900;
}

button:hover {
	color: #ff264e;
	border: 1.5px solid #ff264e;
    cursor: pointer;
}

button:disabled {
	color: rgb(82, 82, 82);
}

/* from w3 schools */
/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(26, 26, 26);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #d3455f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ff264e;
}