html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #02021a;
	color: #fafafa;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, 'IBM Plex Sans', 'Segoe UI', Roboto, "Helvetica Neue", sans-serif;
	font-family: 'Playfair Display', seirf;
}

label {
	color: #fafafa;
	display: block;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

input, button, select, textarea {
	font-family: 'Roboto', sans-serif;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border-radius: 3px;
	outline: none;
}

input:disabled {
	color: #999;
}

input[type="range"] {
	height: 0;
}

h3 {
	font-size: 20px;
	color: #ffe070;
	font-family: 'IBM Plex Sans';
	font-weight: 300;
}

button {
	color: #ffe070;
	background-color: transparent;
	border: 1.5px solid #ffe070;
	font-size: 30px;
	outline: none;
	font-weight: 900;
}

button:hover {
	color: #fafafa;
	border: 1.5px solid #fafafa;
}

button:disabled {
	color: #999;
}
